@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Share+Tech&display=swap');

:root{
    --fontpadrao: Arial, Helvetica, sans-serif;
    --fonttitulo: 'Oswald'; 
    --fontformulario:  'Share Tech';

    --cor1: #EAF2F5;
    --cor2: #008EAA;
    --cor3: #0067A6;
    --cor4: #013a5e;
    --cordestaque: #FF5907;
}

*{
    font-family: var(--fontpadrao);
    background-color: var(--cor1);
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(imagens/fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    display: block;
    height: 100vh;
}

header{
    background-color: var(--cor4);
    max-width: 100vw;
    text-align: center;
    padding: 40px;
    margin: 0px;
    box-shadow: 1px 1px 11px 2px black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1{
    color: white;
    background-color: var(--cor4);
    font-family: var(--fonttitulo);
    font-size: 6vmin;
    margin: 0px;
    text-shadow: 2px 3px 7px black;
}

main{
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 1000px;    
    min-height: 70vh;
    margin: auto;
    padding: 0;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 13px 1px black;
}

h2{
    text-align: center;
    padding: 10px;
    font-size: 3vh;
    font-family: var(--fontformulario);
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0);
}

#fform{
    font-family: var(--fontformulario);
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

main>div#fform>p{
    font-family: var(--fontformulario);
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2.3vh;
    width: 950px;
    max-width: 90vw;
    display: inline-flex;
    border: 3px groove rgba(119, 119, 119, 0.171);
    padding: 5px 10px;
    margin: 2px 3px;
    border-radius: 10px;
}

#fremedio{
    margin: 0px;
    width: 80vw;
    max-width: 750px;
    height: 25px;
    border-radius: 5px;
    right: 0px; 
}

#fres{
    font-family: var(--fontformulario);
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0);
    height: 800px;
    max-height: 50vh;
    overflow-y: auto;
}

main>div{
    margin: auto;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

p#criador{
    background-color: var(--cor4);
    color: white;
    font-size: 20px;   
    font-family: var(--fontformulario);
    font-size: 25px;
    font-weight: normal;
}

p#criador>a{
    background-color: var(--cor4);
    color: var(--cordestaque);
    text-decoration: none;
    font-family: var(--fontformulario);
    font-weight: bolder;
}

p#creditos{
    background-color: var(--cor4);
    color: white;
    font-size: 12px;
    font-family: var(--fontformulario);
    font-weight: normal;
}

p#creditos>a{
    background-color: var(--cor4);
    color: var(--cordestaque);
    text-decoration: none;
    font-family: var(--fontformulario);
}