@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Share+Tech&display=swap');

:root{ /* ----------------------------------------------------- Variáveis de cor e fonte */
    --fontpadrao: Arial, Helvetica, sans-serif;
    --fonttitulo: 'Oswald'; 
    --fontformulario: 'Share Tech';

    --cor1: #EAF2F5;
    --cor2: #008EAA;
    --cor3: #0067A6;
    --cor4: #013a5e;
    --cordestaque: #ff681c;
}

*{ /* ------------------------------------------------------------ Configuração global */
    margin: 0px;
    padding: 0px;
    background-color: var(--cor1);
    font-family: var(--fontpadrao);
}

body{ /* --------------------------------------------------------- Corpo e imagem de fundo */
    background-image: url(imagens/fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
#principal{
    display: flex;
    flex-direction: column;
    background-color: #00000000;
}

header{ /* ---------------------------------------------------------- Cabeçalho */
    background-color: #00000000;
}

h1{ /* ---------------------------------------------------------- Cabeçalho */
    font-family: var(--fonttitulo);
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    color: var(--cor1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 5px;
    font-size: 2.5rem;
    box-shadow: 0px 2px 10px 0px black;
    text-shadow: 2px 3px 7px black;
}

main{ /* --------------------------------------------------------- Parte principal "vitrificada" */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    width: 1000px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 13px 1px black;
    margin: 20px 0px;
    align-self: center;
}

#fform{ /* ---------------------------------------------------- Div do Formulário */
    font-family: var(--fontformulario);
    background-color: #00000000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

h2{ /* ------------------------------------------------------- Título da Div principal */
    text-align: center;
    font-size: 2rem;
    font-family: var(--fontformulario);
    background-color: #00000000;
    padding: 20px 0px;
    border-radius: 20px;
    margin-bottom: 5px;
    text-shadow: 2px 3px 7px black;
    border: 3px groove rgba(119, 119, 119, 0.171);
}

div#fform>p{ /* --------------------------------------- Nome do Remedio */
    background-color: #00000000;
    display: flex;
    flex-direction: column;
    font-family: var(--fontformulario);
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 20px;
}

#fremedio{ /* ------------------------------------------- input do remedio */ 
    border-radius: 20px;
    height: 25px;
    margin: 5px 0px;
    text-align: center;
    
}

#fhid{ /* ---------------------------------------------------- Div do formulario */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 5px 0px;
    background-color: #00000000;
}

@media (max-width: 955px) { /* ------------------------------ Media para quebra do formulário */
    #fhid{
        flex-direction: column;
    }
}

#fhid>p{ /* ------------------------------------------------- Escrito do formulário */
    font-family: var(--fontformulario);
    background-color: #00000000;
    font-size: 1.5rem;
    font-weight: bolder;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px 5px;
    border: 3px groove rgba(119, 119, 119, 0.171);
    border-radius: 20px;
}


#fdias, #fintervalo, #fhora { /* ------------------------------------------ Input dos itens do formulário */
    height: 25px;
    border-radius: 20px;
    margin: 5px;
    padding: 0px 5px;
    text-align: center;
}

#botoes{ /* -------------------------------------------------------------- Div dos Botoes */
    background-color: #00000000;
    display: flex;
}

#reset{
    flex-grow: 1;
}

#fgravar{
    flex-grow: 3;
}

#reset, #fgravar{ /* ------------------------------------------------------ Botoes */
    border-radius: 20px;
    background-color: var(--cordestaque);
    padding: 10px;
    font-family: var(--fontformulario);
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#fgravar:hover, #reset:hover, #imprimir:hover { /* ---------------------------------------- Hover nos botões */
    background-color: rgba(252, 129, 67, 0.747) ;
}

#fgravar:active{ /* ------------------------------------------------------ Botoes ativados */
    background-color: #ff681c;
}

#fres{ /* ----------------------------------------------------------------- Div resultado que irá aparecer */
    background-color: #00000000;
    border-radius: 20px;
    padding: 5px;
}

#fres>h3 { /* -------------------------------------------------------------- Nome do remedio no resultado */
    font-family: var(--fontformulario);
    padding: 5px 5px;
    text-align: center;
    background-color: var(--cor3);
    color: var(--cor1);
    font-size: 1.3rem;
    box-shadow: 0px 2px 5px 0px black;
    border-radius: 20px;
    text-shadow: 0px 4px 7px black;
    margin: 5px;
}

#fres>p{ /* ---------------------------------------------------------------- Paragrafos criados pelo JS */
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    font-size: 2vh;
}

#contimp{ /* --------------------------------------------------------------- Container flex do botão Imprimir */
    background-color: #00000000;
    display: flex;
    justify-content: center;
}

#imprimir{ /* -------------------------------------------------------------- Botão Imprimir */
    flex-grow: 1;
    padding: 8px;
    background-color: var(--cordestaque);
    border-radius: 20px;
    font-family: var(--fontformulario);
    font-size: 1.5rem;
}

footer{ /* ----------------------------------------------------------------- Rodapé */
    background-color: var(--cor4);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#criador{ /* -------------------------------------------------------------- P do criador */
    background-color: #00000000;
    color: var(--cor1);
    font-size: 1.4rem;
    font-family: var(--fontformulario);
}

#criador>a{ /* ------------------------------------------------------------- link do criador */
    background-color: #00000000;
    color: var(--cordestaque);
    text-decoration: none;
    font-family: var(--fontformulario);
    font-weight: bold;
}

#creditos{ /* -------------------------------------------------------------- P do crédito */
    background-color: #00000000;
    color: var(--cor1);
    font-size: 0.8rem;
    font-family: var(--fontformulario);
}

#creditos>a { /* ----------------------------------------------------------- link dos creditos */
    background-color: #00000000;
    color: var(--cordestaque);
    text-decoration: none;
    font-family: var(--fontformulario);
    font-weight: bold;
}